/* RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #000;
  font-family: "Inter", monospace;
}
.begin{
 background: #F9F91C;
 font-family: "Inter", monospace; 
}


/* SECCIÓN PRINCIPAL */
.hero-section {
  text-align: center;
  padding: 40px 20px 40px;
  
}

.hero-text {
  margin-bottom: 35px;
}

.btn-discover {
  display: inline-block;
  padding: 15px 50px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 450;
  font-family: "Inter", monospace;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  text-align: center;
}

/* MARQUEE */
.marquee-container {
  width: 100%;
  height: 38px;
  overflow: hidden;
  background: #F9F91C;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 250s linear infinite;
}

.marquee-track.reverse {
  animation: scroll-right 250s linear infinite;
}

.marquee-text {
  font-size: 33px;
  font-family: "Inter", monospace;
  font-weight: 450;
  letter-spacing: -2.5px;
  white-space: nowrap;
}

/* ANIMACIONES */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ELEMENTOS VISUALES */
.home {
  padding-top: 50px;
  text-align: center;
  padding: 10px;
}

.logo {
  padding-top: 60px;
  width: 100%;
  height: auto;
  display: block;
}

.eldenring {
  width: 100%;
  height: auto;
  display: block;
}

.trending {
  margin: 0;
  background: #000;
  color: #fff;
}

.shop-icon {
  font-size: 32px;
  color: #000;
  position: fixed;
  right: 25px;
  top: 10px;
  cursor: pointer;
}

.icon {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: inherit;
  padding: 5px 0;
  cursor: pointer;
}

.faq-container {
  padding: 2rem;
   padding-top: 20px;
        padding-bottom: 140px;
  background: #F9F91C;
  font-family: 'Helvetica', sans-serif;
}
.indies-container {
    background: 
    linear-gradient(to bottom, 
      #000 0%,         
      #000 50%,      
      #f9f91c 100%    
    );
  padding: 2rem;
   padding-top: 80px;
  font-family: 'Helvetica', sans-serif;
}

.higlight-container-faq{
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
}

.JuegoIndie{
  width: 100%;
  height: auto;
  display: block;
}

.hcf-tittle{
  position: relative;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.hcf-button{
  margin-top: 60px;
  margin-bottom: 40px;
  background: #000;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 999px;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.faq-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.faq-categories {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.faq-category {
  border: 2px solid black;
  background: transparent;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
}

.faq-category.active {
  background: black;
  color: #F9F91C;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-item {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.faq-toggle {
  font-size: 1.5rem;
  font-weight: bold;
}

.faq-answer {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #444;
}

.hidden {
  display: none;
}


/* TRENDING*/
.trending{
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.trendingtittle{

  text-align: center;
  padding-bottom: 30px;
  color: #F9F91C;
}
.subtrending{
    font-size: 20px;
    text-align: center;
  padding-bottom: 30px;

  
}
.card{
  margin-top: 50px;
   margin-bottom: 50px;
}
.cardimg{
  width: 100%;
  aspect-ratio: 327 / 290; 
  position: relative;
  overflow: hidden;
}
.doom-eternal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.cardbutton {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.cardbutton,
.cardbutton button {
  cursor: pointer;
}
.btn-cart {
  width: 100%;
  padding: 15px 0;
  background-color: #000;
  color: #F9F91C;
  font-size: 16px;
  font-weight: 450;
  font-family: "Inter", monospace;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #F9F91C;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  display: inline-block;
}
.btn-discount{
   width: 100%;
  padding: 15px 0;
  background-color: #000;
  color: #EE1319;
  font-size: 16px;
  font-weight: 450;
  font-family: "Inter", monospace;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-align: center;
  display: inline-block;
}

.titelcard{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Gamename {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.price-group {
  display: flex;
  align-items: flex-start; 
}

.price {
  font-size: 16px;
  color: #ffffff;
  padding-right: 5px;
}

.oldprice {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}
.Gameinfo{
  margin-top: 20px;
   font-size: 12px;
}
.cardtext{
  padding-top: 40px;
   padding-bottom: 20px;
}

.discount-badge {
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: #00eeff;
  color: #000;
  font-size: clamp(14px, 2vw, 25px);  
  font-weight: bold;
  font-family: "Inter", monospace;
  border-radius: 50%;
  width: clamp(60px, 8vw, 200px);       
  height: clamp(60px, 8vw, 200px);     
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.new-badge{
 position: absolute;
  top: 3%;
  right: 3%;
  background-color: #000;
  color: #00eeff;
  font-size: clamp(14px, 2vw, 25px);  
  font-weight: bold;
  font-family: "Inter", monospace;
  width: clamp(70px, 8vw, 100px);       
  height: clamp(40px, 8vw, 70px);     
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.off-badge
{
  position: absolute;
  top: 3%;
  left: 3%;
  background-color: #000;
  color: #EE1319;
  font-size: clamp(14px, 2vw, 50px);  
  font-weight: bold;
  font-family: "Inter", monospace;
  width: clamp(90px, 12vw, 500px);       
  height: clamp(30px, 8vw, 70px);     
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


/* ===== FEATURES SECTION ===== */
.features {
  background-color: #EE1319;
  padding: 80px 30px;
  padding-bottom: 110px;

}

.features-header {
  text-align: center;
  margin-bottom: 40px;
}


.title-line {
  display: block;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}



.feature-card {
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-img-container {
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
}

.feature-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.feature-card:hover .feature-img {
  transform: scale(1.03);
}


.feature-content {
  padding: 20px;
}

.feature-name {
  text-align: center;
  color:#fff;
  font-family: "Inter", monospace;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .title-line {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .features-title {
    font-size: 2.2rem;
  }
  
  .features-subtitle {
    font-size: 1.2rem;
  }
}


.featuretittle{
 font-family: "Inter", monospace; 
  text-align: center;
  padding-bottom: 30px;
  color: #000;
}
.subfeature{
   font-family: "Inter", monospace; 
    color: #fff;
    font-size: 20px;
    text-align: center;
  padding-bottom: 30px;

  
}
.discount{
   padding-bottom: 60px;
}



/* AQUI EMPIEZA LA SECCION DESKTOP, AQUI EMPIEZA LA SECCION DESKTOP, AQUI EMPIEZA LA SECCION DESKTOP, AQUI EMPIEZA LA SECCION DESKTOP, AQUI EMPIEZA LA SECCION DESKTOP,AQUI EMPIEZA LA SECCION DESKTOP*/

@media (min-width: 751px) {
/* RESET*/
.begin{
  padding-top: 10px;
    top: 65px;
    position: relative;
}

/* HEADER Y NAVEGACIÓN */
.header {
  justify-content:left;
  height: 65px;
}


 #menuToggle {
    display: none;
  }
.btn-log-nav{
  font-size: 15px;
  font-weight: bold;
  padding:12px 25px;
  display:flex;
  position:absolute;
  right:90px;
  top:11px;
  cursor: pointer;  
  background-color: #000;
  color: #F9F91C;
  font-family: "Inter", monospace;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  border:none

}
  /* Muestra nav horizontal */
  .nav-desktop {
    display: block;
  }

  .nav-desktop ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0px, 20px;
  }

  .nav-desktop li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-family: "Inter", monospace;
    transition: color 0.3s ease;
  }

  .nav-desktop li a:hover {
    color: #00eeff;
  }

  .icon{
    display: none;
  }


.shop-icon {
  font-size: 40px;

}



.indies-container {
      background: 
    linear-gradient(to bottom, 
      #000 0%,         
      #000 50%,      
      #f9f91c 100%    
    );
  padding: 2rem;
  font-family: 'Helvetica', sans-serif;
}

.higlight-container-faq{
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 90px;
}

.JuegoIndie{
  width: 100%;
  height: auto;
  max-height: 45vh; 
  object-fit: contain;
  display: block;
}
.faq-container {
  padding: 60px;
   padding-top: 80px;
  padding-bottom: 100px;
}
.hcf-tittle{
  font-size: clamp(2rem, 6vw, 5rem);
}
/* TRENDING*/
.trending{
  margin-top: 65px;
  padding: 30px;
  padding-top: 120px;
}

.discount-badge {
  font-size: clamp(14px, 2vw, 15px);  
  width: clamp(50px, 8vw, 60px);       
  height: clamp(50px, 8vw, 60px);     
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.new-badge{
  font-size: clamp(14px, 2vw, 20px);  
  width: clamp(50px, 8vw, 90px);       
  height: clamp(20px, 8vw, 50px);     
}

/* ===== FEATURES SECTION ===== */
.features {
  padding: 120px 60px;
  padding-bottom: 150px;

}

.features-title {
  color: #000;
  font-family: "Inter", monospace;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 15px;
}

.features-subtitle {
  color: #fff;
  font-family: 'Zilla Slab', serif;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
}

/* ===== MEDIA QUERIES ===== */

@media (min-width: 1025px) {
  .features-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
 
}

.begin-content {
  padding-top: 110px;
  padding-bottom: 160px;
  max-width: calc(70% - 20%);
  box-sizing: border-box;
  display: block;
}

.begin-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%; 
  overflow: hidden;
}

.begin-image img {
   width: 100%;
  height: 100%;
  align-self: left;
  object-fit: cover;     
  display: block;

}

.trending-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 30px;
}

@media (max-width: 1200px) {
  .trending-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .trending-grid {
    grid-template-columns: 1fr; 
  }
}


.discount {
  max-width: 100%; 
  padding: 0px 60px 80px 60px;
  
  display: block;
  justify-content: center;
}

.discountcard {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 4 / 1; 
  position: relative;
  overflow: hidden;
}

.discountcard .cardimg {
  height: 100%;
}

.discountcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.discounttext {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 20px;
}



.discountcard {
  width: 100%;
  aspect-ratio: 10 / 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid #000; 
}

.card{
   margin-bottom: 0;
}
.cardimg {
  flex: 1;
  position: relative;
}

.cardimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Botón abajo y con mismo ancho */
.discountcardbutton { 
  padding-top: 30px;

}

.faq-content {
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 3rem;
}

.faq-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


}